## Exercises using EXISTS

Now we'll create our sample data.

In [1]:
%load_ext sql

/Users/user/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/user/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql postgresql://ricedb:zt940107@localhost/postgres

u'Connected: ricedb@postgres'

In [3]:
%%sql

DROP TABLE IF EXISTS StoreCity;
DROP TABLE IF EXISTS Store;
DROP TABLE IF EXISTS City;

CREATE TABLE Store (
    id INT,
    name VARCHAR(50),
    category VARCHAR(50),
    PRIMARY KEY (id)
);
CREATE TABLE City (
    id INT,
    name VARCHAR(50),
    PRIMARY KEY (id)
);
CREATE TABLE StoreCity (
    store_id INT,
    city_id INT,
    PRIMARY KEY (store_id, city_id),
    FOREIGN KEY (store_id) REFERENCES Store (id),
    FOREIGN KEY (city_id) REFERENCES City (id)
);

INSERT INTO Store VALUES
    (1, 'Target', 'Discount'),
    (2, 'Walmart', 'Discount'),
    (3, 'JCPenney', 'Department'),
    (4, 'StopNGo', 'Convenience'),
    (5, 'Macys', 'Department');

INSERT INTO City VALUES
    (1, 'Houston'),
    (2, 'Austin'),
    (3, 'Dallas');

INSERT INTO StoreCity VALUES
    (1, 1),
    (1, 2),
    (1, 3),
    (2, 1),
    (2, 2),
    (2, 3),
    (3, 1),
    (3, 2),
    (5, 2);

Done.
Done.
Done.
Done.
Done.
Done.
5 rows affected.
3 rows affected.
9 rows affected.

[]

### Exercise 1

The stores that are in at least one city each are of what categories?

In [8]:
%%sql
SELECT DISTINCT category
FROM Store
where exists(select *
            from StoreCity
            where Store.id = store_id)

2 rows affected.

[(u'Department',), (u'Discount',)]

### Exercise 2

The stores that are in no city each are of what categories?

In [10]:
%%sql
SELECT DISTINCT category
FROM Store
where not exists(select *
                 from StoreCity
                 where Store.id = store_id)

1 rows affected.

[(u'Convenience',)]

### Exercise 3

The stores that are present in all cities are of what categories?

In [ ]:
%%sql
SELECT DISTINCT category
From Store
where not exists( select * 
                 from City
                 where not exists (select *
                                   from StoreCity
                                   where City.id = city_id
                                    AND Store.id = store_id
                                   )