# Exam 1 (100 points total)

As described in the course's Honor Code policy, you may use your notes, and anything provided as part of this course.  You may use a computer to access this allowed information, to use tools to answer these questions (i.e., Jupyter, drawing software, and browser to access allowed information).  You may not collaborate with anyone else, and you may not access any websites not associated with the course, except for web-based drawing programs.

In [1]:
%load_ext sql

/Users/user/anaconda/lib/python2.7/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/user/anaconda/lib/python2.7/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%sql postgresql://ricedb:zt940107@localhost/postgres

u'Connected: ricedb@postgres'

## Data for Problems 1 and 2

We define a single table of numbers with some sample data.

In [3]:
%%sql

DROP TABLE IF EXISTS Data CASCADE;

CREATE TABLE Data (i INT);

INSERT INTO Data VALUES
    (5),
    (1),
    (12),
    (7),
    (20),
    (2),
    (14),
    (18),
    (12),
    (8),
    (19),
    (5);

Done.
Done.
12 rows affected.

[]

## Problem 1 (15 points)

**Write a query that will compute the mode(s) of the values in the `Data` table.**
The modes are the values which occur most frequently.
If there is no data, the query should result in no values.

The modes of the provided data set are 5 and 12, which each occur twice.

For this problem, do *not* use sorting.  Sorting leads to a less efficient strategy.

In [17]:
%%sql
DROP VIEW IF EXISTS counts;
create view counts as
select i, count (i) as times
from Data
group by i;

select i 
from counts 
where times = (select Max(times)
                           from counts)

Done.
Done.
2 rows affected.

[(5,), (12,)]

## Problem 2a (20 points)

**Write a query that results in one number, the median of the data in the `Data` table.**  Your query should work for table $N$ of any size.  When there are an even number of values, we will use the definition of median that takes the average of the two middle-valued numbers.  If there is no data, the query should result in no values.

The median of the provided data is 10, i.e., the average of 8 and 12.

For this problem, do *not* use sorting.  Instead, you will need to appeal to the definition of the median as (roughly) the value such that half the numbers are bigger and half the numbers are smaller.

In [93]:
%%sql
Drop View if exists High Cascade;

create View High as
select R1.i,count(R1.i) from Data R1
inner join Data R2 on R2.i >= R1.i
group by R1.i;

Drop View if exists Low Cascade;
create View Low as
select R1.i,count(R1.i) from Data R1
inner join Data R2 on R2.i <= R1.i
group by R1.i;

Drop View if exists m Cascade;
create View m as
select Low.i,Low.count as low, High.count as high
from Low
inner join High
on Low.i = High.i;

Drop View if exists median Cascade;
create View median as
select Max(i)
from m 
where low <= high
union
select Min(i)
from m 
where low >= high;


select Avg(max) from median

Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
1 rows affected.

[(Decimal('10.0000000000000000'),)]

## Problem 2b (5 points)

Describe the asymptotic amount of computation that is performed in your solution to Problem 2a, and compare that with the asymptotic amount of computation that would be used in a solution using sorting.

Note that we are not asking you to find a query that is as efficient as possible.  You only need to describe and compare the efficiency of your solution.

**Put your answer here:**
My solution's time complexity is n*n(n is number of rows),because for each number, I need to find how many numbers larger than it and how many smaller than it.But if we use sorting, time complexity is nlogn

## Problem 3a (10 points)

You are given tables representing baseball teams, players, and their games.  No specific baseball knowledge is needed for this problem.  A game involves two teams, one designated the "home" team, the other designated the "away" team.  (Normally, the game is played at the home team's stadium.)

To avoid relying on knowledge of PostgreSQL's date and time types, here a date is just a string, and a time is just a number.  E.g., 7pm is the 19th hour, so the time is 19.

For simplicity, we assume that players do not ever change positions or teams.

As an aside, note that this design doesn't guarantee one important constraint.  A game has two teams, and should only have players from those teams playing.  The design allows players from other teams to also play.  You do not need to do anything about this.

**Your job is add the relevant primary and foreign key declarations.**  Also, put the statements into a proper order.

In [ ]:
%%sql

DROP TABLE IF EXISTS PlayerGamePerformance;
DROP TABLE IF EXISTS Player;
DROP TABLE IF EXISTS Game;
DROP TABLE IF EXISTS Team;

CREATE TABLE Team (
    id INT,
    name VARCHAR(50)
    Primary Key(id)
);

CREATE TABLE Player (
    id INT,
    jersey_num INT,
    name VARCHAR(50),
    team_id INT,
    position VARCHAR(50),
    handedness CHAR(1),
    Primary Key(id),
    FOREIGN KEY(team_id) REFERENCES Team(id)
    
    
    -- value is 'R' or 'L' for right- or left-handed, respectively
);

CREATE TABLE Game (
    id INT,
    date VARCHAR(50),
    start_time INT,
    home_team_id INT,
    away_team_id INT,
    Primary Key(id)
    FOREIGN KEY(home_team_id) REFERENCES Team(id)
    FOREIGN KEY(away_team_id) REFERENCES Team(id)
);

CREATE TABLE PlayerGamePerformance (
    player_id INT,
    game_id INT,
    runs_scored INT,
    Primary Key(player_id,game_id),
    FOREIGN KEY (player_id) REFERENCES Player (id),
    FOREIGN KEY (game_id) REFERENCES Game (id)
    
);

## Problem 3b (10 points)

Describe how the `DROP TABLE` statements need to be ordered in general.

Describe how the `CREATE TABLE` statements need to be ordered in general.

Describe what constraints we have on the ordering of adding and deleting data in tables.

Make sure your answers don't simply give the relevant orders for this example.  You can use the previous problem as an example, but your answers should apply in general.

**Put your answer here.**
For Drop TABLE, if we drop a table with foreigh keys, the constraints will prevent us from dropping the table which owns this foreign key. So we should drop table with foreigh keys first. Then we can drop tables.

For CREATE TABLE, we need to first create tables which doesn't has foreign keys. Because if we create a table that has foreign keys, it needs to reference other tables which don't exist for now. 

For deleting data, we need to first delete data from table with foreign keys, because it has no dependency from other table. Then we can delete table which owns these foreign keys.

For adding data, we need to first adding data to table who doesn't has foreign key constraints. Beacause these tables are independent. Then we can add data to table who has references on other tables.

## Additional Instructions for Problems 4 and 5

For each of Problems 4 and 5, you need to provide an entity-relationship diagram that most accurately describes the scenario.  Use the notation used in class.  These need to be in PDF format and can be in the same file or separate files.

You can provide any supplementary notes about your choices.  You can put that text in the same PDF file as the corresponding ER diagram or in this notebook.

## Problem 4 (20 points)

An auto insurance company needs to keep track of their customers' auto accidents.  Each accident gets a single accident report number, even if multiple insured drivers were involved.  For an accident, we need to know what car was involved and who was driving it.  We also need to know who owns the car.  After an auto accident, the insurance company assesses the car and assigns a value to the amount of damage it sustained.

A car can be owned by different people over time, but we assume one owner at any given time.  Similarly, the driver need not be the current owner.  There can be at most one driver, but a car might not have been driven at the time of the accident.

People are indexed by their driver license number, but we also know their name and address.  Each car has a VIN, or Vehicle Identification Number, a model and year.  Each accident happens at some location, at some particular date and time.  The insurance company and the insured driver each refer to the accident report by its number.

## Problem 5 (20 points)

Doctors perform tests on their patients, as part of their patient's visits, in order to see the results.  While the visit happens on some date at a particular time, each test might be done later, at its own date and time.  The patient needs to have provided one reason for the visit.  Doctors specify what the purpose of each test.  Every single test has a barcoded identifier associated with it and its results.

Doctors have names and identification numbers.  While doctors can be identified in a number of ways (e.g., state license numbers, numbers issued by the DEA), our system will use its own IDs and not these other identification systems.  Each doctor practices one particular specialization.

Patients also have names and identification numbers.  Rather simplistically, we only keep track of the name of each patient's insurance plan.

(While it may be the case that the accident-prone drivers in the previous problem now need to be patients in this problem, do not combine the two ERDs.)